body{
  margin: 0px;
  padding: 0px;
  background-image: url(photos/bg.jpeg);
  background-attachment: fixed;
  background-size: cover;
}

.mainContatiner{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}

.definition{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 100vh;
}

.centeredParagraph{
  font-size: 2vw;
  text-align: center;
  line-height: 6vh;
}

.history{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80vw;
}

.rightParagraph{
  padding-left: 20vw;
  font-size: 2vw;
  line-height: 3.5vw;
}

.leftParagraph{
  padding-right: 20vw;
  font-size: 2vw;
  line-height: 3.5vw;

}

.terms{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80vw;
}

.examples{
  display: flex;
  flex-direction: column;
  margin-left: 8vw;
  margin-right: 8vw;
}
.examples img{
  padding: 5vw;
  background-color: rgb(255, 255, 255, 0.5)
}
.appreciate{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
}

.icon{
  display: flex;
  justify-content: space-around;
}

.artist{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 84vw;
  height: 100vh;
}

.artist p{
  font-size: 2vw;
  line-height: 3.5vw;
}

.artPieces{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
  padding: 2.5vw;
  background-color: rgb(255, 255, 255, 0.5)

}

.icon img{
  height:35vh;
}

h2{
  font-size: 3vw;
  text-align: left;
  padding: 1vw;
  background-color: rgb(0, 0, 0, 0.1)
}
h3{
  font-size: 3vw;
  padding: 1vw;
  text-align: right;
  background-color: rgb(0, 0, 0, 0.1)
}

h4{
    font-size: 3vw;
    font-weight: bold;
}

.history p{
  padding: 2vw;
  background-color: rgb(255, 255, 255, 0.5)
}

.terms p{
  padding: 2vw;
  background-color: rgb(255, 255, 255, 0.5)
}

.examples p{
  padding: 2vw;
  background-color: rgb(255, 255, 255, 0.5)
}

.appreciate p{
  padding: 2vw;
  background-color: rgb(255, 255, 255, 0.5)
}
